<%= form_with(model: tweet) do |form| %>
  <!--Error catch -->
  <% if tweet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--New tweet form -->
  <div class="my-3 ">

    <!--Username -->
    <div class="mb-3 d-flex flex-column">
      <%= form.label :username, class: "mb-2 d-flex flex-row align-items-center gap-2" do%>
        <i class="fa-solid fa-user"></i>
        <p class="mb-0">Username</p>
      <% end %>
      <%= form.text_field :username, class:"w-100 tweet-area", placeholder: "insert your name here", required: true, minlength: 2 %>
    </div>

    <!--Tweet-->
    <div class="mb-3 d-flex flex-column">
      <%= form.label :description, "What is happening?!", class: "mb-2" %>
      <%= form.text_area :description, id: "tweet-body", class: "w-100", maxlength: 500, rows: 5 ,placeholder: "Share somthing", required:true %>

      <span id="char-count", class="fw-light opacity-50 text-end">500 Characters left</span>

    </div>

    <!-- Post Button -->
    <span class="d-flex justify-content-end">
      <%= form.submit "Post", class: "btn btn-sm btn-primary px-3 px-md-4 py-1 rounded-4 mb-3 fw-bold", id: "Post" %>
    </span>

  </div>
</div>
<% end %>
